*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:var(--background);

    color:var(--gray);

    font-family:var(--text-font);

}

.container{

    width:90%;
    max-width:1200px;
    margin:auto;

}

.header{

    background:white;

    padding:40px 0;

    border-bottom:1px solid var(--border);

    text-align:center;

}

.header h1{

    font-family:var(--title-font);

    color:var(--gold);

    font-size:3rem;

}

.header p{

    margin-top:10px;

    color:#777;

}

.hero{

    text-align:center;

    margin-top:120px;

}

.hero h2{

    font-family:var(--title-font);

    font-size:2.5rem;

    margin-bottom:20px;

}

.hero p{

    max-width:700px;

    margin:auto;

    line-height:1.8;

    margin-bottom:40px;

}

button{

    background:var(--gold);

    color:white;

    border:none;

    padding:18px 40px;

    border-radius:40px;

    cursor:pointer;

    font-size:16px;

    transition:.3s;

}

button:hover{

    background:var(--gold-dark);

    transform:translateY(-3px);

}
