/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;

    background:linear-gradient(135deg,#ffb6c1,#ff7eb3,#ff4f81);

    color:#fff;

    overflow-x:hidden;

}

/* ===========================
   BARRA DE ROLAGEM
=========================== */

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-track{

    background:#ffd6e7;

}

::-webkit-scrollbar-thumb{

    background:#ff4f81;

    border-radius:20px;

}
/* ===========================
   HERO
=========================== */

.hero{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:40px;

}

.hero-content{

    max-width:900px;

}

.fotoPrincipal{

    width:250px;

    height:250px;

    border-radius:50%;

    object-fit:cover;

    border:8px solid white;

    box-shadow:0 0 40px rgba(255,255,255,.4);

    margin-bottom:30px;

    transition:.5s;

}

.fotoPrincipal:hover{

    transform:scale(1.05);

}

.hero h1{

    font-family:'Great Vibes',cursive;

    font-size:90px;

    margin-bottom:10px;

}

.hero h2{

    font-size:28px;

    font-weight:400;

    margin-bottom:20px;

}

.hero p{

    font-size:18px;

    line-height:1.8;

    max-width:700px;

    margin:auto;

}
.botao{

display:inline-block;

margin-top:40px;

padding:18px 45px;

background:white;

color:#ff4f81;

text-decoration:none;

border-radius:40px;

font-weight:bold;

font-size:18px;

transition:.4s;

box-shadow:0 15px 35px rgba(0,0,0,.2);

}

.botao:hover{

transform:translateY(-5px);

background:#ffe5ee;

}
section{

padding:100px 10%;

}

section h2{

text-align:center;

font-size:50px;

font-family:'Great Vibes',cursive;

margin-bottom:50px;

}
